<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
    {% endblock %}
    {%  block title %}
        {% if title %}
           <title> BardsDistribution - {{ title }}</title>
        {%  else %}
            {{ 'Welcome to BardsDistribution' }}
        {% endif %}
        {% endblock %}
    {% endblock %}
</head>

<body>
    <!-- Your page content -->

    <div class="container mt-1">
        <div class="d-xxl-flex justify-content-xxl-between">
            <div class="p-1">
                 <h1 class="text-primary "><a class="text-decoration-none" href="/index">BardsDistribution</a></h1>
            </div>
            <div class="p-1">
                 <ul class="nav">
                     <li class="nav-item">
                         <a class="nav-link" href="/profile">Profile</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/explore">Explore</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/signin">Sign In</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/signup">Sign Up</a>
                     </li>
                 </ul>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>

    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
