{% extends 'base.html' %}

{% block app_content %}


    <div class="d-flex justify-content-center">
        <div class="p-2">
            <div class="d-flex justify-content-between mb-3">
                <h2 class="text-secondary">Songs</h2>
                <div class="mb-1 bg-gradient-success">
                    <a class="btn btn-primary" href="/add_song">Add New Song</a>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                    {% for song in songs %}

                        <tr>
                            <td>
                                <b>{{ song.author.name }}</b>
                            </td>
                            <td>
                                - {{ song.name }}
                            </td>
                            <td>
                                <p class="btn btn-outline-dark" data-bs-toggle="collapse" data-bs-target="#info{{ song.id }}">
                                    <span class="badge rounded-pill bg-black">
                                        {{ song.users_learning.count() }}
                                    </span>
                                    users learning
                                </p>
                                <div id="info{{ song.id }}" class="collapse">
                                    {% for user in song.users_learning.all() %}
                                        <span class="badge bg-info">
                                            {% if user.last_name %}
                                                {{ user.last_name }}
                                            {%  else %}
                                                {{ user.username }}
                                            {% endif %}
                                        </span>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                {% if current_user.is_learning(song) %}
                                    <form action="{{ url_for('unmark', song_id=song.id)}}" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value="Unmark", class="btn btn-danger") }}
                                    </form>
                                {% else %}
                                    <form action="{{ url_for('mark', song_id=song.id)}}" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value="Mark", class="btn btn-success") }}
                                    </form>
                                {%  endif %}
                            </td>

                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>


    </div>

{% endblock %}