{% extends 'base.html' %}

{% block app_content %}

    <div class="mb-1 bg-gradient-success">
        <a class="link-primary" href="/add_song">Add New Song</a>
    </div>

    {% for song in songs %}
        <div class="d-flex mb-1">
            <div class="text-black"> {{ song.author.name }} - {{ song.name }}
                (selected by {{ song.users_learning.count() }} users) </div>
            {% if current_user.is_learning(song) %}
                <form action="{{ url_for('unmark', song_id=song.id)}}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value="Unmark") }}
                </form>
            {% else %}
                <form action="{{ url_for('mark', song_id=song.id)}}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value="Mark") }}
                </form>
            {%  endif %}

        </div>
    {% endfor %}
{% endblock %}