{%  extends 'base.html' %}

{% block app_content %}
    <div class="d-flex justify-content-between">
        <div class="p-3">
             <h1 class="text-primary text-center">BardsDistribution</h1>
        </div>
        <div class="p-3">
             <ul class="nav">
                 <li class="nav-item">
                     <a class="nav-link" href="">Explore</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="">Sign In</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="">Sign Up</a>
                 </li>
             </ul>
        </div>
    </div>


{% endblock %}