{% extends 'base.html' %}


{% block app_content %}
    <div class="d-flex justify-content-center ">
        <div class="p-2 me-5">
            <div class="d-flex mb-3 justify-content-between">
                <div class="p-2">
                    <h2 class="text-secondary">Profile</h2>
                </div>
                {% if user == current_user %}
                    <div class="p-2">
                        <a class="btn btn-primary" href="/edit_profile">Edit</a>
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <b>Username</b>
                            </td>
                            <td>
                                {{ user.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>First name</b>
                            </td>
                            <td>
                                {% if user.first_name%}
                                    {{ user.first_name }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <b>Last name</b>
                            </td>
                            <td>
                                {% if user.last_name%}
                                    {{ user.last_name }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-2 ">
            <div class="d-flex mb-3 justify-content-between">
                <div class="p-2">
                    <h2 class="text-secondary">My Songs</h2>
                </div>
                <div class="p-2">
                    <a class="btn btn-primary" href="/add_song">Add New Song</a>
                </div>
            </div>


            <table class="table table-striped">
                <tbody>
                    {% for song in user.songs_learning.all() %}

                        <tr>
                            <td>
                                <b>{{ song.author.name }}</b>
                            </td>
                            <td>
                                - {{ song.name }}
                            </td>
                            <td>
                                <p class="btn btn-outline-dark" data-bs-toggle="collapse" data-bs-target="#info{{ song.id }}">
                                    <span class="badge rounded-pill bg-black">
                                        {{ song.users_learning.count() }}
                                    </span>
                                    users learning
                                </p>
                                <div id="info{{ song.id }}" class="collapse">
                                    <div class="d-flex flex-wrap" >
                                        {% for user in song.users_learning.all() %}
                                            <span class="badge bg-info m-1">

                                                {% if user.last_name %}
                                                    {{ user.last_name }}
                                                {%  else %}
                                                    {{ user.username }}
                                                {% endif %}

                                            </span>
                                        {% endfor %}
                                    </div>

                                </div>
                            </td>
                            <td>
                                {% if current_user.is_learning(song) %}
                                    <form action="{{ url_for('unmark', song_id=song.id)}}" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value="Unmark", class="btn btn-danger") }}
                                    </form>
                                {% else %}
                                    <form action="{{ url_for('mark', song_id=song.id)}}" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value="Mark", class="btn btn-success") }}
                                    </form>
                                {%  endif %}
                            </td>

                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


{% endblock %}