{% extends 'base.html' %}


{% block app_content %}
    <div class="d-flex flex-column " style="width: 100%">
        <div class="px-3 pt-2 bg-light rounded-4" style="width: fit-content">
            {% include '_user_card.html' %}
        </div>
        <div class="songs d-flex flex-column" >
            <div class="p-3 pb-0">
                <h2 class="m-0">Songs</h2>
            </div>
            <div class="px-3 my-2 bg-light rounded-4" >

                <div class="d-flex mb-3 p-2 justify-content-between">
                    <p class=" p-1 m-1">
                        Total songs
                        <span class="badge rounded-pill bg-black">
                            {{ user.songs_learning.count() }}
                        </span>
                    </p>

                    <a class="btn btn-primary" href="/add_song">Add New Song</a>
                </div>

                {%  include '_songs_list.html' %}
            </div>
        </div>


    </div>


{% endblock %}